.row 
{
  background: rgba(255,0,0,.1);
}
.row > div
{
  padding: 10px 15px;
  background: rgba(86,61,124,.15);
  border: 1px solid #563d7c33;
}
.row + .row
{
  margin-top: 1rem;
}
.container
{
  margin: 0 1rem 1rem 0;
}