"width": (
 property: width,
 class: w,
 values: (
   25: 25%,
   50: 50%,
   75: 75%,
   100: 100%,
   auto: auto
 )
),
"max-width": (
 property: max-width,
 class: mw,
 values: (100: 100%)
),
"viewport-width": (
 property: width,
 class: vw,
 values: (100: 100vw)
),
"min-viewport-width": (
 property: min-width,
 class: min-vw,
 values: (100: 100vw)
),
"height": (
 property: height,
 class: h,
 values: (
   25: 25%,
   50: 50%,
   75: 75%,
   100: 100%,
   auto: auto
 )
),
"max-height": (
 property: max-height,
 class: mh,
 values: (100: 100%)
),
"viewport-height": (
 property: height,
 class: vh,
 values: (100: 100vh)
),
"min-viewport-height": (
 property: min-height,
 class: min-vh,
 values: (100: 100vh)
),
