@media (min-width: 576px){
   .bd-example {
      padding: 1.5rem;
      margin-right: 0;
      margin-left: 0;
      border-width: 1px;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
  } 
}
.bd-example-position-utils {
    position: relative;
    padding: 3em;
    .position-absolute {
        width: 2em;
        height: 2em;
        background-color: #212529;
        border-radius: 0.25rem;
    }
}
.translate-middle {
    transform: translate(-50%,-50%)!important;
}
.top-0 {
    top: 0!important;
}
.position-absolute {
    position: absolute!important;
}